{% extends 'base_form.html.twig' %}
{% block title %}Potwierdź rejestrację{% endblock %}
{% block body %}
<div class="jumbotron mt-5">
  <h3 class="text-success text-center mb-4">Na Twoją skrzynkę został wysłany email. Proszę kliknąć w link potwierdzający rejestrację</h3>
  <div class="container text-center"><a href="{{ path('login') }}" class="">Powrót do logowania</a></div>
</div>
{% endblock %}
