body {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}
ul {
  list-style-type: none;
}
.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.stage-form {
  width: 100vw;
}
.router-link-active {
  background: blue;
}
